//intro
#intro {
	z-index: 0;
	&.active {
		z-index: 12 !important;
	}
	img {
		max-width: 750px;
	}
    .right {
		background: black;
		display: flex;
        align-items: center;
        justify-content: flex-start;
		cursor: default;
	}
    .left {
		background: black;
		display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: default;
	}
	@media screen and (max-width: 768px) {
		img {
			max-width: 200%;
		}
	}
}
