header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 4rem;
	#contact {
		text-transform: uppercase;
		transition: color 1s ease-in-out;
		a {
			text-decoration: none;
			color: white;
			transition: 0.3s ease-in-out;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	> div {
		flex: 1;
		&:first-of-type {
			text-align: left;
		}
		&:nth-of-type(2) {
			text-align: center;
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
		&:last-of-type {
			text-align: right;
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}
	h1 {
		letter-spacing: 1px;
		font-size: 1.618rem;
		margin-top: 0;
	}
}

$color-background: #F5F5F5;
$color-main: white;
$color-active: black;
$color-link: black;
$button-height: 1rem;
$button-width: 2rem;
$span-height: 8px;

body.dark {
	.button_container span {
		background: black;
	}
	#contact a {
		color: black;
	}
}

.button_container {
	height: $button-height;
	width: $button-width;
	cursor: pointer;
	position: fixed;
	top: 2rem;
	left: 2rem;
	z-index: 10000;
	transition: color 1s ease-in-out;
	&:hover {
		opacity: .5;
	}

	&.active {
		span {
			background: $color-active !important;
		}
		.top {
			transform: translateY($span-height) translateX(0) rotate(45deg);
		}
		.middle {
			opacity: 0;
		}

		.bottom {
			transform: translateY(-$span-height) translateX(0) rotate(-45deg);
		}
	}

	span {
		background: $color-main;
		border: none;
		height: 2px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition:  all .35s ease;
		cursor: pointer;

		&:nth-of-type(2) {
			top: $span-height;
		}

		&:nth-of-type(3) {
			top: $span-height * 2;
		}
	}
}

.overlay {
	position: fixed;
	background: $color-main;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	visibility: hidden;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;

	.text {
		max-width: 75%;
		text-align: center;
		p {
			font-family: 'favorit-light', sans-serif;
			font-weight: 100;
			text-transform: uppercase;
			font-size: 3rem;
			line-height: 100%;
			&:last-of-type {
				margin-top: 5rem;
				@media screen and (max-width: 768px) {
					margin-top: 1.2rem;
				}
			}
			@media screen and (max-width: 768px) {
				font-size: 1.618rem;
			}
		}
		.reg {
			font-family: 'favorit', sans-serif;
			font-weight: 400;
		}
		a {
			font-family: 'favorit', sans-serif;
			font-weight: 400;
			text-decoration: none;
			color:black;
			transition: 0.1s ease-in;
			font-weight: bold;
			&:hover {
				opacity: 0.7;
			}
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;
		height: 100%;
		cursor: url('../images/x.png'), pointer;

		@media screen and (max-width: 768px) {
			cursor: pointer;
		}

		li {
			animation: fadeInRight .5s ease forwards;
			animation-delay: .35s;

			&:nth-of-type(2) {
				animation-delay: .4s;
			}
			&:nth-of-type(3) {
				animation-delay: .45s;
			}
			&:nth-of-type(4) {
				animation-delay: .50s;
			}
		}
	}
	nav {
		position: relative;
		height: 70%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1rem;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		display: inline-block;
		position: relative;
		height: 100%;

		li {
			display: block;
			height: 25%;
			height: calc(100% / 4);
			min-height: 50px;
			position: relative;
			opacity: 0;

			a {
				display: block;
				position: relative;
				color: $color-link;
				text-decoration: none;
				overflow: hidden;

				&:hover:after,
				&:focus:after,
				&:active:after {
					width: 100%;
				}

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 0%;
					transform: translateX(-50%);
					height: 3px;
					background: $color-link;
					transition: .35s;
				}
			}
		}
	}
}

.button_container.active {
	display: none;
	@media screen and (max-width: 768px) {
		display: block;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
