#seven {
	z-index: -7;
	.left {
		cursor: url('../images/arrow-l-b.png'), pointer;
		background: url('../images/section-seven_01.jpg') no-repeat;
		background-size: cover;
		background-position: right;
	}
	.right {
		cursor: url('../images/arrow-r-b.png'), pointer;
		background: url('../images/section-seven_02.jpg') no-repeat;
		background-size: cover;
		background-position: left;
	}
}
