#two {
	z-index: -2;
	.left {
		cursor: url('../images/arrow-l-w.png'), pointer;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
	}
	.right {
		cursor: url('../images/arrow-r-w.png'), pointer;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
	}
}
