$color1: #333333;
$color2: #fff;


@font-face {
  font-family: 'favorit';
  src: url('https://s3.amazonaws.com/ijadams/duplex/Favorit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'favorit-italic';
  src: url('https://s3.amazonaws.com/ijadams/duplex/Favorit-Italic_gdi.ttf') format('truetype');
}