@import 'variables';

html {
	font-size: 100.5%;
	height: 100%;
	box-sizing: border-box;
	overflow: hidden;
	background-color: black;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'favorit';
	height: 100%;
	width: 100%;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		webkit-overflow-scrolling: touch;
	}
	h1, h2, h3, h4, h5, p {
		font-family: 'favorit';
	}
	opacity: 1;
	transition: 1s opacity;
	&.fade-out {
		opacity: 0;
		transition: none;
	}
	header {
		transition: color 0.3s ease-in-out;
	}
	&.dark {
		header {
			color: black !important;
		}
		.description p {
			color: black !important;
		}
		.more {
			cursor: inherit;
		}
	}
	#mobile {
		display: none;
	}
	@media screen and (max-width: 768px) {
		#desktop {
			display: none;
		}
		#mobile {
			display: block;
		}
		overflow-y: scroll;
		header {
			position: fixed;
			z-index: 20;
		}
		section {
			position: relative;
			display: block;
			height: 100vh;
			width: 100%;
			z-index: 0 !important;
			overflow: hidden;
			.description p {
				opacity: 1;
			}
		}
	}
}

main {
	height: 100%;
	width: 100%;
	@media screen and (max-width: 768px) {
		overflow: scroll;
	}
}

$elements: 15;

section {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	@for $i from 0 to $elements {
		&.project--slide:nth-of-type(#{$i + 1}) {
			z-index: #{0 - $i};
		}
	}
	&.active {
		z-index: 10 !important;
		.description p {
			opacity: 1;
		}
	}
	.container {
		height: 100%;
		width: 100%;
		display: flex;
		ul, li {
			height: 100%;
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0;
		}
		li {
			display: block;
			transition: 0.5s ease-in-out;
		}
	}
	.more {
		position: absolute;
		height: 100%;
		z-index: 12;
		cursor: inherit;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.prev, .next {
		position: absolute;
		height: 100%;
		width: 25%;
		z-index: 12;
		background: transparent;
		transition: 0.5s ease-out;
		opacity: 0;
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
	.prev {
		left: 0;
		&:hover {
			background: -webkit-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.4));
		}
	}
	.next {
		right: 0;
		&:hover {
			background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.4));
		}
	}
	.left, .right {
		display: inline-block;
		width: 50%;
		height: 100%;
		transition-delay: 500ms;
		transition: 1s cubic-bezier(0.420, 0.000, 0.600, 0.985);
		background-repeat: no-repeat;
		background-size: cover;
		will-change: transform;
	}
	.left {
		float: left;
		background-position: right;
		&.leave {
			transform: translateY(150%);
		}
	}
	.right {
		background-position: left;
		&.leave {
			transform: translateY(-150%);
		}
	}
	.description {
		position: absolute;
		bottom: 1rem;
		width: 100%;
		padding: 0 5rem;
		text-align: center;
		font-size: 0.75rem;
		color: white;
		transition: 0.8s ease-out;
		@media screen and (max-width: 768px) {
			padding: 0 2rem;
			p {
				margin: 0 auto;
			}
		}
		@media screen and (max-width: 480px) {
			bottom: 0;
			padding: 1.6rem 0.4rem;
		}
		&.leave {
			p {
				opacity: 0;
			}
		}
		p {
			display: inline-block;
			transition: 0.5s ease-out;
			opacity: 0;
			&:first-of-type {
				text-transform: uppercase;
				margin-right: 2rem;
				@media screen and (max-width: 768px) {
					margin: 0 auto;
					display: block;
					font-size: 2rem;
					line-height: 100%;
				}
			}
		}
	}
}

.slick-slider .slick-list, .slick-slider .slick-track {
	height: 100%;
}

.slick-slide > div {
	height: 100%;
}

.slide--color {
	display: none;
}

@import 'syntaxHighlighter';
@import 'intro';
@import 'mobile';
@import 'navigation';
@import 'footer';

