<header class="site-header" role="banner">
	<div>
		&nbsp;
	</div>
	</div>
	<div id="title">
		<h1>duplex studio</h1>
	</div>
	<div id="contact">
		&nbsp;
	</div>
</header>

<div class="button_container" id="toggle">
	<span class="top"></span>
	<span class="middle"></span>
	<span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
	<div class="text">
		<p><span class="reg">DUPLEX STUDIO</span> is a creative studio
			based out of Brookyn, New York, that specializes
			in branding, creative direction, and design.
		</p>
		<p>
			For inquiries, please email us at <a href="mailto:info@duplex.studio">Info@duplex.studio</a>
		</p>
	</div>
</div>
