{% assign sorted = site.posts | sort: 'sort_order' %}

{% for post in sorted %}

{% if post.title == 'INTRO - DO NOT DELETE' %}
<section id="intro">
	<div class="container">
		<div class="left" style="background-color: {{post.intro_background}};">
			<img src="{{post.intro_image_left}}">
		</div>
		<div class="right" style="background-color: {{post.intro_background}};">
			<img src="{{post.intro_image_right}}">
		</div>
	</div>
</section>

{% else %}

<section class="project--slide">
	<div class="container">
		<canvas class="more"></canvas>
		<span class="next"></span>
		<span class="prev"></span>
		<ul>
			{% for image in post.mobile_images %}
			<li style="background-image: url('{{ image }}');"></li>
			{% endfor %}
		</ul>
		<div class="description">
			<p>{{ post.project_title }}</p>
			<p>{{ post.description }}</p>
		</div>
	</div>
</section>

{% endif %}

{% endfor %}
