<section id="four">
    <div class="container">
				<div class="more"></div>
				<ul>
					<li class="active dark">
						<div class="left" style="background-image: url('assets/images/section-four_01.jpg')">
						</div>
						<div class="right" style="background-image: url('assets/images/section-four_02.jpg')">
						</div>
					</li>
					<li class="dark">
						<div class="left" style="background-image: url('assets/images/section-four_02_01.jpg')">
						</div>
						<div class="right" style="background-image: url('assets/images/section-four_02_02.jpg')">
						</div>
					</li>
				</ul>
			<div class="description">
				<p>PhotoPlus Expo 2016.</p>
				<p>Our proposal for Moogfest’s 2018 Visual Identity. The theme revolved around the idea of sound, synthesis and mechanical engineering.</p>
			</div>
    </div>
</section>
