<section id="two">
	<div class="container">
		<div class="more"></div>
		<ul>
			<li class="active">
				<div class="left" style="background-image: url('assets/images/section-two_01.jpg')">
				</div>
				<div class="right" style="background-image: url('assets/images/section-two_02.jpg')">
				</div>
			</li>
			<li>
				<div class="left" style="background-image: url('assets/images/section-two_02_01.jpg')">
				</div>
				<div class="right" style="background-image: url('assets/images/section-two_02_02.jpg')">
				</div>
			</li>
			<li>
				<div class="left" style="background-image: url('assets/images/section-two_03_01.jpg')">
				</div>
				<div class="right" style="background-image: url('assets/images/section-two_03_02.jpg')">
				</div>
			</li>
		</ul>
		<div class="description">
			<p>Bing Bang Jewelry.</p>
			<p>Art direction and photography for a ‘Golden Hour’ themed editorial featuring a collection of gold jewelry on
				the beach.</p>
		</div>
	</div>
</section>
