<section id="three">
    <div class="container">
			<div class="more"></div>
			<ul>
				<li class="active">
					<div class="left" style="background-image: url('assets/images/section-three_01.jpg')">
					</div>
					<div class="right" style="background-image: url('assets/images/section-three_02.jpg')">
					</div>
				</li>
				<li>
					<div class="left" style="background-image: url('assets/images/section-three_02_01.jpg')">
					</div>
					<div class="right" style="background-image: url('assets/images/section-three_02_02.jpg')">
					</div>
				</li>
			</ul>
			<div class="description">
				<p>PDN Edu.</p>
				<p>Art Direction and photography for an online editorial. The series highlights a collection of gold jewelry perfect for summer.</p>
			</div>
    </div>
</section>
